.fable/
.fake/
.farmer/
.idea/
.ionide/
.vs/
deploy/
obj/
bin/
packages/
paket-files/
node_modules/
release.cmd
release.sh
*.orig
*.DotSettings.user
.paket/
dist/
build.fsx.lock
*.fs.js
*.fs.js.map
src/Feliz.MSAL/fable_modules/
